doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    // <link rel="stylesheet" href="./site.css">
    //script(src='https://unpkg.com/axios/dist/axios.min.js')
    
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js")
    script(type='text/javascript' src=`/script.js`)
    title kinostrelka
  body(onload='getFilms(1)')
    if user.type != 'anon'
      img(src=`${user.photo}`)
      b #{user.first_name}
      br
      a(href='/auth/logout')
        | выйти
    else
      a(href = '/auth/vk')
        | войти
    br
    
    if user.type == 'admin'
      form(action='/films/', method='POST', enctype='multipart/form-data')
      include filmForm.pug
      input(type='submit')
      hr
    

    input#search(name='search' type='text')
    button(onclick='searchFilm()')
      | найти
    br
    br
    #films
    #pagination
    #test
